/*Elelment -> Class -> ID*/
html {
    background-color: gainsboro;
}
body {
    font-family: monospace;
    border-width:0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
h1 {
    -webkit-margin-before: 0em;
    margin: 5px;
    margin-bottom: 0;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 1);
}
article {
    display: flex;
    flex-direction: column;
    float: right;
}
.dynamic {
    background-color: white;
    border-style: solid;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 5px;
    border-width: 10px;
    border-color: white;
    box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 1);
}
form, p, a {
    margin: 5px;
}
.main {
    flex: 1;
    background-color: none;
}
section {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: 0;
}
a {
    display: flex;
    justify-content: center;
}
.tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 1);
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img {
    width: auto;
    height: 250px;
}
p {
    -webkit-margin-before: 0;
    margin-bottom: 0;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.contact-info {
    display: flex;
}
#linkedin, #email {
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.5s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.5s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

ins.play-gif{
	position: absolute;
	font-family: Arial, sans serif;
	width: 50px;
	height: 50px;
	line-height: 52px;
	text-align: center;
	background: #222;
	font-size: 18px;
	color: #fff;
	border-radius: 50%;
	opacity: .9;
	border: 4px solid #fff;
	cursor:pointer;
	text-decoration: none;
}

ins.play-gif:hover{
	opacity:.5;
}

.gifplayer-wrapper{
	position:relative;
	display: inline-block;
}

.spinner {
	height:50px;
	width:50px;
	margin:0px auto;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(256,256,256,.15);
	border-right:6px solid rgba(256,256,256,.15);
	border-bottom:6px solid rgba(256,256,256,.15);
	border-top:6px solid rgba(256,256,256,.8);
	border-radius:100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}
