/*Elelment -> Class -> ID*/
html {
    background-color: gainsboro;
}
body {
    font-family: monospace;
    border-width:0px;
}
.wrap {
    display: flex;
    background-color: none;
    justify-content: space-between;
}
header {
    display: flex;
}
h1 {
    margin-right: 10px;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 1);
}
form {
    margin: 20px;
}
article {
    display: flex;
    flex-direction: column;
    float: right;
}
.dynamic {
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 1);
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
form, p, a {
    margin: 5px;
}
section {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
.tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 1);
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img {
    width: auto;
    height: 250px;
}
p {
    -webkit-margin-before: 0;
    margin-bottom: 0;
}
