/*Elelment -> Class -> ID*/
html {
    background-color: mediumseagreen;
}
body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    border-width:0px;
    min-height: 100vh;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /*height: 340px;*/
}
.main {
    flex: 1;
}
section {
    clear: both;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: 0;
}
.tile {
    display: flex;
    flex-direction: column;
    background-color: none;
    margin: 5px;
}
.delLink {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}
.delLink:link {
    color: white;
}
.delLink:visited {
    color: white;
}
.delLink:hover {
    color: white;
}
.delLink:active {
    color: white;
}
.removeDie {
    display: flex;
    justify-content: flex-end;
}
.div-for-die {
    box-shadow: 1px 1px 10px 5px rgba(30, 30, 30, 1);
    background-color: #DE0000;
    border-radius: 30px;
    height: 200px;
}
img {
    -webkit-filter: brightness(10) contrast(10) grayscale(1);
}
.dynamic {
    font-size: 3.0em;
}
footer {
    display: flex;
    justify-content: center;
    margin: 5px;
}
/*#linkedin, #email {
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
*/
