/*Elelment -> Class -> ID*/
html {
    background-color: gainsboro;
}
body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    border-width:0px;
    min-height: 100vh;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.main {
    flex: 1;
    background-color: none;
}
section {
    clear: both;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: 0;
}
.tile {
    display: flex;
    flex-direction: column;
    background-color: none;
    margin: 5px;
}
.delLink {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}
.delLink:link {
    color: white;
}

.delLink:visited {
    color: white;
}

.delLink:hover {
    color: white;
}

.delLink:active {
    color: white;
}
.removeDie {
    display: flex;
    justify-content: flex-end;
}
.div-for-die {
    box-shadow: 1px 1px 10px 5px rgba(150, 150, 150, 1);
    background-color: white;
    border-radius: 30px;
    height: 200px;
}
.dynamic {
    font-size: 3.0em;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.contact-info {
    display: flex;
}
#linkedin, #email {
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
