{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Polls</title>
        <link href="{% static 'polls/style.css' %}" rel='stylesheet'>
        <link rel="icon" href="{% static 'polls/favicon.ico' %}">
    </head>
    <body>
        <header>
            <h1>Polls - Group Practice</h1>
        </header>
        <div class='main'>
            <form name='icecream' action="{% url 'summary' %}" method='post' id='user-input'>
                {% csrf_token %}
                <label for="icecream">Fav. Ice Cream:</label>
                <select name="icecream">
                    <option value="Vanilla">Vanilla</option>
                    <option value="Chocolate">Chocolate</option>
                    <option value="Strawberry">Strawberry</option>
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>
        <footer class='bottom'>
            <div>
                Polls - Front-End Practice
            </div>
            <div>
                Created by Matt and Erin
            </div>
        </footer>
    </body>
</html>
