<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Jokes</title>
        <link href='static/jokes/jokes.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <h1>Joke Submitted!</h1>
        </header>
        <div class='main'>
            <h1>Your joke was submitted!</h1>
        </div>
        <footer class='bottom'>
            <div class='contact-info'>
                <a href='https://www.linkedin.com/in/mattvoelpel'><img id='linkedin' src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/100px-LinkedIn_Logo.svg.png'></a>
                <a href='mailto:matvop@gmail.com'><img id='email' src='http://chrisholmquistphotography.com/files/4313/9108/0434/Communication-email-2-icon.png'></a>
            </div>
            <div>
                Created by Matt Voelpel 2016
            </div>
        </footer>
    </body>
    <script src='http://code.jquery.com/jquery-2.2.3.js'></script>
    <script src='static/jokes/jokes.js'></script>
</html>
