{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Jokes</title>
        <link href="{% static 'jokes/jokes.css' %}" rel='stylesheet'>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'index' %}"><div class="btn first">Home</div></a>
                <a href="{% url 'form_page' %}"><div class="btn first">Submit Joke</div></a>
            </nav>
        </header>
        <div class="response">
            <h2>Your joke was submitted!</h2>
        </div>
        <div class='main'>
            <section>
                <article class="joke-tile">
                    <p>{{ joke.setup }}</p>
                    <p>{{ joke.punchline }}</p>
                </article>
            </section>
        </div>
        <footer class='bottom'>
            <div class='contact-info'>
                <a href='https://www.linkedin.com/in/mattvoelpel'>
                    <img id='linkedin' src="{% static 'jokes/LinkedIn_Logo.png' %}">
                </a>
                <a href='mailto:matvop@gmail.com'>
                    <img id='email' src="{% static 'jokes/email-icon.png' %}">
                </a>
            </div>
            <div>
                Jokes - Django Practice
            </div>
            <div>
                Created by Matt Voelpel 2016
            </div>
        </footer>
    </body>
    <script src='http://code.jquery.com/jquery-2.2.3.js'></script>
    <script src="{% static 'jokes/jokes.js' %}"></script>
</html>
