{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Jokes</title>
        <link href="{% static 'jokes/jokes.css' %}" rel='stylesheet'>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'index' %}"><div class="btn first">Home</div></a>
            </nav>
            <h1>Jokes - Django Practice</h1>
        </header>
        <div class='main'>
            <form action='/form_page/submit' method='post' id='user-input'>
                {% csrf_token %}
                <h2>Submit-A-Joke 9000:</h2>
                <label for='setup'><h3>Setup:</h3></label>
                <textarea name="setup" cols="30" rows="10" class='setup' placeholder="E.g. What's black and white, and red all over?"></textarea>
                <label for='punchline'><h3>Punchline:</h3></label>
                <textarea name="punchline" cols="30" rows="5" class='punchline' placeholder="E.g. A penguin with a sunburn!"></textarea>
                <input type='submit'>
            </form>
        </div>
        <footer class='bottom'>
            <div class='contact-info'>
                <a href='https://www.linkedin.com/in/mattvoelpel'>
                    <img id='linkedin' src="{% static 'jokes/LinkedIn_Logo.png' %}">
                </a>
                <a href='mailto:matvop@gmail.com'>
                    <img id='email' src="{% static 'jokes/email-icon.png' %}">
                </a>
            </div>
            <div>
                Created by Matt Voelpel 2016
            </div>
        </footer>
    </body>
    <script src='http://code.jquery.com/jquery-2.2.3.js'></script>
    <script src="{% static 'jokes/jokes.js' %}"></script>
</html>
