/*Elelment -> Class -> ID*/
html {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
}
body {
    font-size: 1.5em;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
    font-family: monospace;
    color: #061539;
    border-width:0px;
    background-image: linear-gradient(to top, rgba(120,135,171,1),rgba(22,40,86,1));
    box-shadow: 1px 1px 10px 5px rgba(192, 192, 192, 0.53);
}
h1 {
    display: flex;
    justify-content: center;
    color: #7887AB;
    font-family: Courier;
    background-color: gainsboro;
    width: 100%;
}
img {
    border-width: medium;
    border-style: solid;
    border-spacing: 10px;
    border-radius: 30px;
    border-color: #7887AB;
}
.photo {
    height: auto;
    width: 40%;
    float: right;
    margin: 5px;
}
section.bio {
    width: 65%;
}
a:link {
    font-weight: bold;
    color: #061539;
}
a:visited {
    color: #7887AB;
}
a:hover {
    color: #7887AB;
}
a:active {
    color: blue;
}
ul {
    list-style: none;
}
ul li:before {
    content: "▸ ";
}
.quotes {
    margin: 10px;
}
.float {
    float: right;
    height: auto;
    width: 30%;
    margin-top: 10px;
    margin-right: 110px;
}
#ny {
    margin: 20px;
    height: auto;
    width: 30%;
    float: left;
}
.hometowns {
    width: 80%;
}
.flexfooter {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
}
.flexfooter section {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
@media (max-device-width: 600px) {
    .flexfooter {
        display: none;
    }
    html {
        background-color: white;
    }
}
