/*Elelment -> Class -> ID*/

body {
    font-family: monospace;
    color: #061539;
    background-color: #2E4272;
}
h1 {
    font-size: 4.0em;
    font-weight: bold;
    font-family: Courier;
}
img {
    border-radius: 50px;
}
td {
    text-align: center;
    vertical-align: middle;
    border-spacing: 10px;
}
/* unvisited link */
a:link {
    font-weight: bold;
    color: #061539;
}

/* visited link */
a:visited {
    color: #7887AB;
}

/* mouse over link */
a:hover {
    color: #7887AB;
}

/* selected link */
a:active {
    color: blue;
}
.quotes {
    font-family: monospace;
}
ul {
    list-style: none;
}
ul li:before {
    content: "▸ ";
}
