html {
    display: flex;
    justify-content: center;
}
body {
    width: 80%;
}
div {
    margin: 10px;
    border: 1px solid black;
}
body > div {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}
body > div > div {
    height: 80%;
    flex-grow: 1;
}
