html {
    display: flex;
    justify-content: center;
}
body {
    flex-grow: 1;
    margin: 10px;
}
body > div {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}
div {
    margin: 10px;
    border: 1px solid black;
}
body > div > div {
    height: 80%;
}
.first > div {
    flex-grow: 1;
}
.one {
    flex-grow: .8;
}
.two {
    flex-grow: .2;
}
.third > div {
    width: 20%;
}
.third {
    justify-content: space-between;
}
