html {
    display: flex;
    justify-content: center;
}
body {
    width: 80%;
}
div {
    height: 100px;
    margin: 10px;
    border: 1px solid black;
}
.double {
    display: flex;
    flex-direction: row;
}
.triple {

}
