{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Flutter</title>
        <link href="{% static 'flutter/style.css' %}" rel='stylesheet'>
    </head>
    <body>
        <header>
            <div class="info">
                {% if user.is_authenticated %}
                    <div>User: {{ user }}</div>
                    <a href="/logout/">Logout</a>
                {% else %}
                    <a href="/login/?next={{ request.path }}">Login</a>
                {% endif %}
            </div>
            <nav>
                <a href="{% url 'post' %}"><div class="btn">Post a Flutt</div></a>
                <form action="{% url 'search_query' %}" method="GET">
                    <input class="textbox" name="query" placeholder="Search for user"></input>
                    <button class="invis" type="submit">search</button>
                </form>
            </nav>
        </header>
        <div class="response">
            <h2>10 Most Recent Flutts</h2>
        </div>
        <div class='main'>
            <section>
                {% for flutt in flutts %}
                <article class="flutt-tile">
                    <div class="post-info">
                        <p class="user-name"><a href="/search?query={{ flutt.user_name }}">{{ flutt.user_name }}</a></p>
                        <p class="datetime">{{ flutt.datetime }}</p>
                    </div>
                    <p class="comment">{{ flutt.comment }}</p>
                </article>
                {% endfor %}
            </section>
        </div>
        <footer class='bottom'>
            <div class='contact-info'>
                <a href='https://www.linkedin.com/in/mattvoelpel'>
                    <img src="{% static 'flutter/LinkedIn_Logo.png' %}">
                </a>
                <a href='mailto:matvop@gmail.com'>
                    <img src="{% static 'flutter/email-icon.png' %}">
                </a>
            </div>
            <div>
                Flutter - Django Models/Query Practice
            </div>
            <div>
                Created by Matt Voelpel 2016
            </div>
        </footer>
    </body>
</html>
